<ion-header>
  <ion-toolbar>
    <ion-title>
     HOMEM DE FERRO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card color="secondary">
  <div class="ion-padding">
    <ion-img src="../assets/icon/1200px-MarvelLogo.svg.png"></ion-img>
    <h3>Cool exec with a heart of steel</h3>
      <h3> </h3>
      <h3> </h3>

<h5>  O inventor genial Tony Stark continuou com o negócio de armamentos de seu pai, Howard Stark, depois da morte prematura de seus pais e o levou a alturas ainda maiores de inovação.
   Enquanto no Afeganistão para demonstrar um novo míssil para os militares dos EUA, o comboio de Stark foi atacado por um grupo terrorista conhecido como os Dez Anéis e ele foi gravemente ferido. Levado como prisioneiro pelo grupo, Stark acordou em seu quartel general para descobrir que estilhaços perto de seu coração quase lhe custaram a vida, mas uma ação rápida do cientista e companheiro prisioneiro Ho Yinsen - que havia inserido um poderoso eletroímã no peito de Stark - prolongaria temporariamente . </h5>

    <ion-img src="../assets/icon/59d84c_9815da9ef5524039acacbc3dc10fb261_mv2.png"></ion-img>

</div>
</ion-card>
<ion-button  expand="block" color="danger"  href="historia" > VOLTAR </ion-button>

</ion-content>
