<ion-header>
  <ion-toolbar>
    <ion-title>
     MARVEL ENCICLOPEDIA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-img src="../assets/icon/1200px-MarvelLogo.svg.png"></ion-img>
    <h3>DESCUBRA QUAL PERSONAGEM VOCE SERIA NO UCM</h3>
    <ion-img src="../assets/icon/placa-cuidado-estamos-em-obras-em-aluminio-construco-civil-D_NQ_NP_809806-MLB25587276214_052017-F.jpg"></ion-img>


    <h3></h3>
    <h3></h3>
    <ion-button  expand="full" color="medium"  href="opçoes" > VOLTAR </ion-button>

</div>

</ion-content>
