<ion-header>
  <ion-toolbar>
    <ion-title>
    CADASTRO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card color="secondary">
  <div class="ion-padding">
    <ion-img src="../assets/icon/1200px-MarvelLogo.svg.png"></ion-img>

      <ion-label position="floating">Nome de Usuario:</ion-label>
    <ion-input type="text" [(ngModel)]="cadastro.nome" placeholder="Insira o seu nome"></ion-input>

      <ion-label position="floating">Email:</ion-label>
    <ion-input type="text" [(ngModel)]="cadastro.email" placeholder="Insira o seu email"></ion-input>

      <ion-label position="floating">Senha:</ion-label>
    <ion-input type="password" [(ngModel)]="cadastro.senha" placeholder="Insira sua senha"></ion-input>

    <ion-button  expand="block" color="danger"  href="home" > VOLTAR </ion-button>

  <ion-button  expand="block" color="danger" (click)="salvar()" href="home" > Cadastrar </ion-button>


</div>
</ion-card>
</ion-content>
