<ion-header>
  <ion-toolbar>
    <ion-title>
     MARVEL ENCICLOPEDIA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card color="secondary">
  <div class="ion-padding">
    <ion-img src="../assets/icon/1200px-MarvelLogo.svg.png"></ion-img>
    <h3>ESCOLHER PERSONAGEM</h3>
    <ion-button  expand="block" color="danger" href="homemdeferro">CAPITÃO AMÉRICA</ion-button>
    <ion-button  expand="block" color="danger" href="homemdeferro">HOMEM DE FERRO</ion-button>
    <ion-button  expand="block" color="danger" href="homemdeferro">HOMEM ARANHA</ion-button>
    <ion-button  expand="block" color="danger" href="homemdeferro">THOR</ion-button>
    <ion-button  expand="block" color="danger" href="homemdeferro">FEITICEIRA ESCARLATE</ion-button>
    <ion-button  expand="block" color="danger" href="homemdeferro">PANTERA NEGRA</ion-button>
    <ion-button  expand="block" color="danger" href="homemdeferro">VIUVA NEGRA</ion-button>
    <ion-button  expand="block" color="danger" href="homemdeferro">CAPITÃ MARVEL</ion-button>


    <h3></h3>
    <h3></h3>
    <ion-button  expand="block" color="danger"  href="opçoes" > VOLTAR </ion-button>


</div>
</ion-card>
</ion-content>
