<ion-header>
  <ion-toolbar>
    <ion-title>USUARIOS CADASTRADOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-searchbar [(ngModel)]="nome" (ionChange)="filtrar()"></ion-searchbar>

    <ion-item *ngFor="let cadastro of listaFiltro">
<ion-label>{{ cadastro.nome }}</ion-label>
<ion-label>{{ cadastro.email }}</ion-label>

<ion-button (click)="alterar(cadastro.key)"><ion-icon name="create"></ion-icon></ion-button>
<ion-button color="danger" (click)="excluir(cadastro.key)"><ion-icon name="close-circle"></ion-icon></ion-button>
</ion-item>
  </ion-list>
  <ion-button href="cidade-listar" expand="full" color="danger" shape="around"> Lista cidades </ion-button>
  <ion-button  expand="full" color="danger"  href="home" > VOLTAR </ion-button>

</ion-content>
