<ion-header>
  <ion-toolbar>
    <ion-title>
     MARVEL ENCICLOPEDIA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="secondary">

  <div class="ion-padding">
    <ion-img src="../assets/icon/1200px-MarvelLogo.svg.png"></ion-img>
    <h3>OPÇÕES</h3>
  <ion-button  expand="block" color="danger" href="historia">HISTORIA</ion-button>
  <ion-button  expand="block" color="danger" href="filme-salvar">FILMES</ion-button>


<h3></h3>
<h3></h3>
  <ion-button  expand="block" color="danger"  href="home" > VOLTAR </ion-button>

</div>


</ion-card>

</ion-content>
